<footer>
    <img id="simple-logo" src="images/logos/inkseeklogosimple.png" alt="Inkseek logo">
    <ul>
        <li>
            <a href="discover.html">Discover</a>
        </li>
        <li>
            <a href="about-us.html">About Us</a>
        </li>
        <li>
            <a href="guides.html">Guides</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="#">Instagram</a>
        </li>
        <li>
            <a href="#">TikTok</a>
        </li>
        <li>
            <a href="#">Facebook</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="#">Sign Up</a>
        </li>
    </ul>
</footer>