<div id="navbar">
    <a id="logo-link" href="index.html">
        <img id="bottle-logo" src="images/logos/inkseeklogomain.png" alt="ink bottle dripping">
    </a>
    <div id="center-buttons">
        <div id="center-buttons-group">
            <a class="navbutton" id="discover-button" href="discover.html">Discover</a>
            <a class="navbutton" id="about-us-button" href="about-us.html">About Us</a>
            <a class="navbutton" id="guides-button" href="guides.html">Guides</a>
        </div>
    </div>
    <div id="right-buttons">
        <div id="logged-out-buttons" class="right-buttons-group">
            <a class="navbutton" id="login" href="login.html">Log In</a>
            <a class="navbutton" id="create-account" href="create-account.html">Create Account</a>
        </div>
        <div id="logged-in-profile" class="right-buttons-group" style="display: none;">
            <div class="profile-container">
                <div class="profile-dropdown" onclick="toggleDropdown();">
                    <a id="profile-link" href="user-profile.html">
                        <img id="nav-profile-pic" class="nav-profile-pic" src="images/profile photos/User/UP_4.jpg"
                            alt="Profile">
                    </a>
                    <div class="dropdown-arrow"></div>
                </div>
                <div id="dropdown-menu" class="dropdown-menu">
                    <div class="dropdown-header">
                        <p id="dropdown-username" class="dropdown-username">@username</p>
                        <p id="dropdown-account-type" class="dropdown-account-type">Personal Account</p>
                    </div>
                    <button class="convert-btn" id="convert-account-btn" onclick="convertAccount()">Convert to Artist
                        Account</button>
                    <a href="#" class="dropdown-item">
                        <img src="images/favicons/settings.png" class="dropdown-icon-img" alt="Settings">
                        <span>Account Settings</span>
                    </a>
                    <a href="messages.html" class="dropdown-item">
                        <img src="images/favicons/messages.png" class="dropdown-icon-img" alt="Messages">
                        <span>Messages</span>
                    </a>
                    <a href="discover.html" class="dropdown-item">
                        <img src="images/favicons/search.png" class="dropdown-icon-img" alt="Search">
                        <span>Search</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item" onclick="logout(); return false;">
                        <span>Log Out</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>