        #grid-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 43px;
            padding: 10px;
            margin: auto 85px
        }

        #grid-item {
            width: 100%;
            height: auto;
            justify-items: center;
        }

        img {
            width: 100%;
            height: auto;
            display: block;
            border-radius: 5px;
        }