 @import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=BBH+Hegarty&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

 /* main style */
 body {
     background-color: #F2F1ED;
     font-family: Zain, sans-serif;
     margin: 0;
     padding: 0;
 }

 h1 {
     font-family: "BBH Hegarty", sans-serif;
     background-color: #4FBA7F;
     text-align: center;
     padding: 20px;
     font-size: 36px;
     margin: 0;
     font-weight: normal;
 }

 h2 {
     font-family: "BBH Hegarty", sans-serif;
     text-align: center;
     font-size: 24px;
     font-weight: normal;
 }

 a {
     color: black
 }

 /* navigation bar */
 #navbar {
     display: flex;
     background-color: #F2F1ED;
     margin: auto 20px;
 }

 #bottle-logo {
     width: 200px;
     height: auto;
     flex-shrink: 0;

 }

 #logo-link {
     display: inline-block;
     cursor: pointer;
 }

 #center-buttons {
     margin: auto;
 }

 #center-buttons-group {
     display: flex;
     background-color: #FFC857;
     border-radius: 10px;
     justify-content: center;
     align-items: center;
     gap: 10px;
 }

 #right-buttons {
     display: flex;
     gap: 10px;
     align-items: center;
 }

 #right-buttons-group {
     display: flex;
     border-radius: 10px;
     justify-content: center;
     align-items: center;
     gap: 10px;
 }

 .navbutton {
     text-decoration: none;
     color: black;
     padding: 8px 20px;
     border-radius: 10px;
     align-items: center;
     justify-content: center;
 }

 #login {
     background-color: #D7D7D7;
 }

 #create-account {
     background-color: #C1272D;
     color: white;
 }

 /* content section */

 #section-1 {
     text-align: center;
     padding: 50px;
     color: rgb(68, 68, 68);
     background-color: #FFC857;
     border-radius: 100%;
     width: 400px;
     height: 400px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin: 25px auto;
 }

 /* foooter */
 footer {
     background-color: #4FBA7F;
     color: black;
     padding: 20px;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 #simple-logo {
     width: 25px;
     height: auto;
     margin-right: 50px;
 }